#botao {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
footer {
    margin-top: 5%;
}
#img1 {
    margin-top: 5%;
}
#img2 {
    margin-top: 5%;
} 
#text {
    margin-top: 5%;
}
#carro {
    margin-top: 10%;
}